<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">ChartBuilder</a>
    <button class="navbar-toggler" style="display: block;">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div>
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="chart-box-plot/compiled/grouped">
                <span class="oi oi-chart-box-plot-compiled-grouped" aria-hidden="true"></span> Tempo Total
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="chart-box-plot/compiled/grouped/success">
                <span class="oi oi-chart-box-plot-compiled-grouped" aria-hidden="true"></span> Tempo Total Agrupado por Taxa de Sucesso
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="chart-box-plot/compiled/grouped/errors">
                <span class="oi oi-chart-box-plot-compiled-grouped-error" aria-hidden="true"></span> Percentual de Erro
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="chart-box-plot/compiled/grouped/errors/fracionado">
                <span class="oi oi-chart-box-plot-compiled-grouped-error" aria-hidden="true"></span> Tempo total de Erro
            </NavLink>
        </li>
    </ul>
</div>    

@code {
}
