<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">ChartBuilder</a>
    <button class="navbar-toggler" style="display: block;">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div>
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="chart-box-plot/total-time">
                <span class="oi" aria-hidden="true"></span> Total Time
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="chart-box-plot/total-time/group-by/success-rate">
                <span class="oi" aria-hidden="true"></span> Total Time By SuccessRate
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="chart-box-plot/percentage-error">
                <span class="oi" aria-hidden="true"></span> Percentage Error
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="chart-box-plot/containment-time">
                <span class="oi" aria-hidden="true"></span> Containment Time
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="chart-box-plot/containment-time/group-by/success-rate">
                <span class="oi" aria-hidden="true"></span> Containment Time By SuccessRate
            </NavLink>
        </li>
    </ul>
</div>    

@code {
}
